/* FONTS */
@font-face 
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

*
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* BODY */
body
{
    margin: 0;
    padding: 0;
}

.bloc-page
{
margin-left: 40px;
margin-right: 40px;
}

a
{
    color: inherit;
    text-decoration: none;
}

h1
{
    font-weight: bold;
}

img
{
    object-fit: cover;
}

/* HEADER */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#signup
{
    font-weight: bold;
    color: #0065fc;
    display: flex;
    width: 160px;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    border-top: 2px solid transparent;
    margin-left: -20px;
    cursor: pointer;
}

#signup:hover
{
    border-top: 2px solid transparent;
}

nav ul
{
    display: flex;
    list-style-type: none;
    margin-top: 0;
    align-items: flex-end;
    justify-content: center;
}

.link
{
    display: flex;
    width: 160px;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    border-top: 2px solid transparent;
   
}

.link:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/* RECHERCHES */
.search
{
    margin-top: 30px;
}

.search h1
{
    margin-bottom: 5px;
    font-size: 20px;
}

.search p
{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.recherche
{
    display: flex;
    width: auto;
    height: 40px;
    flex-direction: row;
    
}

input::placeholder
{
    color: black;
    font-weight: bold;
}

.search button 
{
    border: 0;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

button input
{
    width: 90px;
    border: 0;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
}

.map
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px #f2f2f2 solid;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.lieu
{
    border: 1px #f2f2f2 solid;
    padding-left: 15px;
}

.bloc-filtres
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.bouton-filtre
{
    display: flex;
    align-items: center;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    cursor: pointer;
}
.bouton-filtre:hover
{
    border-color: #rgb(99, 81, 81);
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.bouton-filtre:hover .radius-icon
{
    background-color: rgb(99, 81, 81);
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.bouton-filtre span
{
    margin: 0 10px 0 10px;
}

.radius-icon
{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    border: 1px #deebff solid;
    border-radius: 100%;
    margin: -2px 0 -2px -2px;
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.font-awes-blue
{
    color: #0065fc;
}

.info
{
    display: flex;
    margin-bottom: 5px;
    font-size: small;
}

.info-logo
{
    display: flex;
    border: 1px #d6d6d6 solid;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #0065fc;
}

.info-t
{
   padding-top: 5px;
}

/* HEBERGEMENTS */
#heberg-marseille
{
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    margin-right: 20px;
}

#heberg-marseille h1
{
    margin-left: 20px;
}

.hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}

.blocs-heb
{ 
    width: 30%;
    border: 1px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 20px #d6d6d6;
    margin-bottom: 30px;
    padding: 5px;
}

.blocs-heb img
{
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    
}

.auberge-hotel
{
    height: 40%;
    margin: 0 0 5px 15px;
    font-size: 10px;
}


.fa-star-blue
{
    color: #0065fc;
}

.fa-star-grey
{
    color: #d9d9d9;
}

.plus
{
    margin-left: 20px;
    margin-bottom: 30px;
}

/* POPULAIRES */
.heb-pop
{
    display: flex;
}

.populaires
{
    width: 40%;
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    margin-left: 20px;
}

.line
{
    display: flex;
    justify-content: space-between;
}

.line h1
{
    margin-left: 20px;   
}

.pluspop a
{
    display: flex;
}

.blocs-pop
{
    height: 140px;
    display: flex;
    border: 1px white solid;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #d6d6d6;
    margin: 0 35px 30px 35px;
    padding: 5px;
}

.blocs-pop img
{
    width: 140px;
    min-width: 140px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.text-pop
{
    min-width: 140px;
    margin: 5px 0 5px 15px;
    font-size: 10px;
}

/* ACTIVITES */


.act
{
    display: flex;
    height: 450px;
    width: 100%;    
    justify-content: space-between;
}



.test .blocs-act 
{
    height: 100%;
}


.test-a
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.test-a .blocs-act
{
    height: 47%;
}

.blocs-act
{
    width: 300px;
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #d6d6d6;
}

.blocs-act img
{
    width: 100%;
    height: 85%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
}

.blocs-act h2
{
    font-size: 15px;
    padding-left: 10px;
}

/* FOOTER */
.footer
{
    display: flex;
    background-color: #f2f2f2; 
    margin-top: 70px;
}

.footer div
{
    width: 450px;
    margin: 30px 0 30px 40px;
}

footer p
{
    cursor: pointer;
}