/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* BODY */
body
{
    margin: 0;
    padding: 0;
}

a
{
    color: inherit;
    text-decoration: none;
}

h1
{
    font-size: 1.4rem;
    font-weight: 650;
}

h2
{
    font-size: 1rem;
    font-weight: 650;
}

p
{
    font-size: 0.9rem;
}

img
{
    object-fit: cover;
}

.bloc-page
{
    margin-left: 40px;
    margin-right: 40px;
}

/* HEADER */
header
{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 300px 140px;
    grid-template-rows: 100px;
}

.image-logo
{
    padding-top: 35px;
}

nav 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 300px;
    font-weight: 500;
    padding: 0 30px 0 30px;
    margin: 0;
    list-style-type: none;
}

li
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
}

ul li:nth-child(1)
{
    border-top: 3px solid #0065fc;
    color: #0065fc;
}

ul li:nth-child(2)
{
    border-top: 3px solid transparent;
}

ul li:nth-child(2):hover
{
    border-top: 3px solid #0065fc;
    color: #0065fc;
}

#signup
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #0065fc;
    cursor: pointer;
}

/* RECHERCHES */
.search h1
{
    margin-bottom: 5px;
}

.search p
{
    margin: 0 0 20px 0;
    font-size: 1rem;
    font-weight: 450;
}

.search span
{
    font-size: 1.2rem;
}

.recherche
{
    display: flex;
    width: fit-content;
    height: 50px;
    border: 0px transparent solid;
    border-radius: 15px;
    box-shadow: inset 0px 0px 0px 1px #f2f2f2;
}    

.map
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px 0 17px;
    border: none;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.lieu
{
    border: none;
    padding: 0 20px 0 15px;
    font-size: 1rem;
    background-color: transparent;
}

input::placeholder
{
    color: black;
    font-weight: 650;
}

.bouton
{
    width: auto;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 15px 0 15px;
}

.loupe
{
    width: auto;
    border: 0;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 17px 0 17px;
    display: none;
}

.bloc-filtres
{
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 30px 0;
}

.bloc-bouton
{
    margin-left: 30px;
    width: 850px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bouton-filtre
{
    display: flex;
    align-items: center;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
}

.bouton-filtre:hover
{
    border-color: rgb(99, 81, 81);
    transition-duration: 0.5s;
}

.bouton-filtre:hover .radius-icon
{
    background-color: rgb(99, 81, 81);
    border-color: #635151;
    transition-duration: 0.5s;
}

.bouton-filtre span
{
    margin: 0 15px 0 15px;
    font-weight: 700;
}

.radius-icon
{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    border: 1px #deebff solid;
    border-radius: 100%;
    margin: -2px 0 -2px -2px;
    transition-duration: 0.5s;
}

.font-awes-blue
{
    color: #0065fc;
}

.info
{
    display: flex;
    margin-bottom: 20px;
    font-size: 1rem;
}

.info-logo
{
    display: flex;
    border: 1px #d6d6d6 solid;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #0065fc;
}

.info-t
{
   padding-top: 5px;
}

/* HEBERGEMENTS */
#heberg-marseille
{
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    margin-right: 20px;
}

#heberg-marseille h1
{
    margin-left: 40px;
    margin-top: 40px;
}

.hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    row-gap: 30px;
}

.blocs-heb
{ 
    height: 200px;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 20px #d6d6d6;
    border: 5px white solid;
    
}

.blocs-heb img
{
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0 0;
}

.auberge-hotel
{
    display: flex;
    flex-direction: column;
    height: 85px;
    justify-content: space-evenly;
    margin-left: 8px;
    
    
}

.auberge-hotel h2 ,p
{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.fa-star-blue
{
    color: #0065fc;
    font-size: 0.7rem;
}

.fa-star-grey
{
    color: #d9d9d9;
    font-size: 0.7rem;
}

.plus
{
    margin: 40px 0 40px 40px;
    font-size: 18px;
}

/* POPULAIRES */
.heb-pop
{
    display: flex;
}

.populaires
{
    width: 40%;
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    margin-left: 20px;
}

.line
{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 25px;
    padding: 0 40px 0 40px;
}

.icon-fleche
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pluspop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.pluspop a
{
    display: flex;
}

.blocs-pop
{
    height: 140px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #d6d6d6;
    margin: 0 40px 0px 40px;
    padding: 5px;
}

.blocs-pop img
{
    width: 9vw;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.text-pop
{
    display: flex;
    flex-direction: column;
    min-width: 140px;
    justify-content: flex-start;
    padding: 15px 0 15px 15px;
}

.text-pop h2
{
    margin: 0;
}

.text-pop p
{
    margin: 5px 0 0 0;
}

.text-pop div
{
    margin-top: auto;
}
/* ACTIVITES */
#activites
{
    margin-top: 70px;
}

.act
{
    display: flex;
    height: 450px;  
    justify-content: space-between;
}

.act-full .blocs-act 
{
    height: 100%;
}

.act-split
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act-split .blocs-act
{
    height: 45%;
}

.blocs-act
{
    width: 21vw;
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #d6d6d6;
}

.blocs-act img, .blocs-act-tall img, .blocs-act-small img
{
    width: 100%;
    height: 85%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
}

.blocs-act-tall
{
    height: 55%;
    width: 21vw;
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #d6d6d6;
}

.blocs-act-small
{
    height: 35%;
    width: 21vw;
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #d6d6d6;
}

.blocs-act h2, .blocs-act-tall h2, .blocs-act-small h2
{
    display: flex;
    margin-block-end: 0;
    margin-block-start: 0;
    align-items: center;
    height: 55px;
    margin-left: 15px;
}

/* FOOTER */
.footer
{
    display: flex;
    background-color: #f2f2f2; 
    margin-top: 70px;
}

.footer div
{
    width: 450px;
    margin: 30px 0 30px 40px;
}

footer h2
{
    font-size: 1.1rem;
    margin-bottom: 20px;
}
footer p
{
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

/* REGLES RESPONSIVE POUR MOBILES */
@media screen and (max-width: 767px)
{
    .bloc-page
    {
        margin-left: 0;
        margin-right: 0;
    }

    header
    {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 70px ;
    }

    .image-logo
    {
        padding-left: 6vw;
    }

    nav
    {
        display: block;
        grid-column: 1 / 3;  
        grid-row: 2 / 3;
    }

    nav ul 
    {
        height: 70px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    ul li 
    {
        height: 70px;
    }

    ul li:nth-child(1)
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    ul li:nth-child(2)
    {
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
    }

    ul li:nth-child(2):hover
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    #signup
    {
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 40px;
    }

    .search
    {
        margin: 0 6vw 0 6vw;
    }

    .search h1
    {
        font-size: 1.4rem;
    }

    .recherche
    {
        width: initial;
        max-width: 350px;
    }

    .lieu
    {
       padding: 0 0 0 15px;
       width: 100%;
    }

    .bouton
    {
        display: none;
    }
    
    .loupe
    {
        display: initial;
    }

    .bloc-filtres
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
    }

    .bloc-filtres h2
    {
        font-size: 1.3rem;
    }

    .bloc-bouton
    {
        margin-left: 0;
        row-gap: 10px;
        flex-wrap: wrap;
        width: 100%;
    }

    h1 
    {
        font-size: 1.4rem;
    }

    .heb-pop
    {
        flex-direction: column-reverse;
    }

    .populaires
    {
        width: 100%;
        margin-left: 0;
        border: none;
        border-radius: 0;
        padding-bottom: 40px;
    }

    .pluspop
    {
        height: auto;
        row-gap: 15px;
    }

    .line
    {
        padding: 0 6vw 0 6vw;
    }

    .blocs-pop
    {
        margin: 0 6vw 0 6vw;
    }

    .blocs-pop img
    {
        width: 35vw;
    }

    #heberg-marseille
    {
        border: none;
        border-radius: 0;
        background-color: white;
        margin-right: 0;
    }

    #heberg-marseille h1
    {
        margin-left: 6vw;
        margin-top: 40px;
    }

    .hebergements
    {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 15px;
        padding: 0 6vw 0 6vw;
    }

    .blocs-heb
    {
        width: auto;
    }
    
    .plus
    {
        font-size: 1.2rem;
        margin: 30px 6vw 30px 6vw;
    }

    #activites
    {
       margin-top: 20px;
    }

    #activites h1
    {
        margin-left: 6vw;
    }

    .act
    {
        height: auto;
        width: auto;
        flex-direction: column;
        row-gap: 15px;
        padding: 0 6vw 0 6vw;
    }

    .blocs-act img, .blocs-act-tall img, .blocs-act-small img
    {
        height: 140px;
    }

    .act-full
    {
        height: auto;
        width: auto;
    }

    .act-full .blocs-act
    {
        height: 200px;
    }
    
    .act-split 
    {
        height: auto;
        width: auto;
        row-gap: 15px;
    }

    .act-split .blocs-act
    {
        height: 200px;
    }

    .blocs-act, .blocs-act-tall, .blocs-act-small
    {
        width: 100%;
        height: 200px;
    }

    .footer
    {
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    .footer div
    {
        margin: 20px 0 0 6vw;
        width: auto;
    }

    .footer h2 
    {
        font-size: 1rem;
        margin-bottom: 15px;

    }

    .footer p 
    {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
}

/* REGLES RESPONSIVE POUR TABLETTES */
@media screen and (min-width: 768px) and (max-width: 1023px)
{
    .bloc-page
    {
        margin-left: 0;
        margin-right: 0;
    }

    .image-logo
    {
        padding-left: 20px;
    }

    .search
    {
        margin: 0 20px 0 20px;
    }

    .search h1
    {
        font-size: 1.6rem;
    }

    .search p 
    {
        font-size: 1.1rem;
    }

    .bloc-filtres
    {
        flex-wrap: wrap;
    }

    .bloc-filtres h2
    {
        font-size: 1.3rem;
        
    }

    .bloc-bouton
    {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80vw;
        row-gap: 10px;
    }
    .heb-pop
    {
        flex-direction: column-reverse;
    }

    .populaires
    {
        width: 100%;
        margin-left: 0;
        border: none;
        border-radius: 0;
        padding-bottom: 40px;
    }

    .pluspop
    {
        height: auto;
        row-gap: 15px;
    }

    .blocs-pop img
    {
        width: 25vw;
    }

    #heberg-marseille
    {
        border: none;
        border-radius: 0;
        background-color: white;
        margin-right: 0;
    }

    .hebergements
    {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 15px;
    }

    .blocs-heb
    {
        width: 100%;
    }
    
    .plus
    {
        font-size: 1.2rem;
        margin: 30px 0 30px 40px;
    }

    #activites
    {
       margin-top: 30px;
    }

    #activites h1
    {
        margin-left: 40px;
    }

    .act
    {
        height: auto;
        width: auto;
        flex-direction: column;
        row-gap: 15px;
        padding: 0 40px 0 40px;
    }

    .blocs-act img, .blocs-act-tall img, .blocs-act-small img
    {
        height: 140px;
    }

    .act-full
    {
        height: auto;
        width: auto;
    }

    .act-full .blocs-act
    {
        height: 200px;
    }
    
    .act-split 
    {
        height: auto;
        width: auto;
        row-gap: 15px;
    }

    .act-split .blocs-act
    {
        height: 200px;
    }

    .blocs-act, .blocs-act-tall, .blocs-act-small
    {
        width: 100%;
        height: 200px;
    }
}

/* REGLES RESPONSIVE POUR GRANDS ECRANS */
@media screen and (min-width: 1440px)
{
    body
    {
        max-width: 1440px;
        margin: auto;
    }

    .blocs-act ,.blocs-act-small ,.blocs-act-tall
    {
        width: 308px;
    }
} 