/* FONTS */
@font-face 
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

*
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* BODY */
#bloc-page
{
    width: 80%;
    margin: auto;
}

a
{
    color: inherit;
    text-decoration: none;
}

h1
{
    font-weight: bold;
}

/* HEADER */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    max-width: 1337px;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.hebnav
{
    
}

.actnav
{
    
}

.hebnav:hover
{
    color: #0065fc;
    text-decoration-line: overline;
}

.actnav:hover
{
    color: #0065fc;
    text-decoration-line: overline;
}

#signup
{
    font-weight: bold;
    color: #0065fc;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
   padding-left: 40px;
   
}

/* RECHERCHES */
.search
{

}

.recherche
{
    display: flex;
    width: 100px;
    border: solid 1px #f2f2f2;
    flex-direction: row;
}

.map
{

}

.lieu
{

}

.boutonrecherche
{

}

.bloc-filtres
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.filtre-eco
{
    display: flex;
    border: 2px #d6d6d6 solid;
    border-radius: 23px 23px 23px 23px;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

.titre-filtre
{
    margin-right: 20px;
}

.filtre-fam
{
    display: flex;
    border: 2px #d6d6d6 solid;
    border-radius: 23px 23px 23px 23px;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.filtre-rom
{
    
    display: flex;
    border: 2px #d6d6d6 solid;
    border-radius: 23px 23px 23px 23px;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.filtre-ani
{
    display: flex;
    border: 2px #d6d6d6 solid;
    border-radius: 23px 23px 23px 23px;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.info-logo
{
    display: flex;
    border: 1px #d6d6d6 solid;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #0065fc;

}

.info-text
{

}

/* HEBERGEMENTS */
.heberg-marseille
{
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    
}

.herbergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hebergements a
{
    display: flex;
    flex-direction: column;
    padding: auto;
    width: 250px;
    height: 200px;
    margin: auto;
    border: 1px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 20px #d6d6d6;
    text-decoration: none;
    color: black;

}

.hebergements img
{
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

.auberge-hotel
{
    flex-direction: column;
    margin-left: 15px;
    font-size: x-small;
}

a h2
{
    margin-top: auto;
    margin-bottom: auto;
}

.fa-star-blue
{
    color: #0065fc;
}

.fa-star-grey
{
    color: #d9d9d9;
}

/* POPULAIRES */
.populaires
{
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #f2f2f2;
}